body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
}

.img-container {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#image {
	position: absolute;
	display: flex;
	color: blue;
}

#image::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: currentColor;
	mask-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/DVD-Video_Logo.svg);
	-webkit-mask-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e7/DVD-Video_Logo.svg);
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
}
